version: 2
jobs:
  check_build:
#    branches:
#      only:
#        - master
#        - dev
    working_directory: ~/code
    docker:
      - image: circleci/android:api-25-alpha
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
         name: Chmod permissions #if permission for Gradlew Dependencies fail, use this. 
         command: sudo chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run Tests
          command: ./gradlew lint test        
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results        
  dev-build:
    docker:
      # specify the version you desire here
      - image: circleci/android:api-27-alpha
    working_directory: ~/code    
    environment:
      SLACK_CHANNEL: GC00Y3RQU
      SLACK_API_TOKEN: xoxp-407261293861-406567177537-408278627522-47c492251c1bd26aef6584c26f841fe2
    steps:
      - checkout
      - run: echo "Running..."
      - restore_cache:
            key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
         name: Chmod permissions #if permission for Gradlew Dependencies fail, use this. 
         command: sudo chmod +x ./gradlew
      - run:
            name: Download Dependencies
            command: ./gradlew androidDependencies
      - save_cache:
            paths:
              - ~/.gradle
            key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
            name: Initial build
            command: ./gradlew clean assembleDebug --no-daemon --stacktrace
      - store_artifacts:
            path: app/build/outputs/apk/
            destination: apks/
      - run:
            name: Upload to Slack
            command: |
              export GIT_COMMIT_DESC=$(git log --format=oneline -n 1 | sed -E 's/^[^ ]+ (.*)$/\1/g')
              curl -F file=@app/build/outputs/apk/debug/app-debug.apk -F channels=$SLACK_CHANNEL -F token=$SLACK_API_TOKEN -F title="${CIRCLE_PROJECT_REPONAME} | branch -> ${CIRCLE_BRANCH} | commit -> ${GIT_COMMIT_DESC}"  https://slack.com/api/files.upload
  prod-build:
    docker:
      # specify the version you desire here
      - image: circleci/android:api-27-alpha
    working_directory: ~/code
    environment:
      SLACK_CHANNEL: GC00Y3RQU
      SLACK_API_TOKEN: xoxp-407261293861-406567177537-408278627522-47c492251c1bd26aef6584c26f841fe2
    steps:
      - checkout
      - run: echo "Running..."
      - restore_cache:
            key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
         name: Chmod permissions #if permission for Gradlew Dependencies fail, use this. 
         command: sudo chmod +x ./gradlew
      - run:
            name: Download Dependencies
            command: ./gradlew androidDependencies
      - save_cache:
            paths:
              - ~/.gradle
            key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
            name: Initial build
            command: ./gradlew clean assembleRelease --no-daemon --stacktrace
      - store_artifacts:
            path: app/build/outputs/apk/
            destination: apks/
      - run:
            name: Upload to Slack
            command: |
              export GIT_COMMIT_DESC=$(git log --format=oneline -n 1 | sed -E 's/^[^ ]+ (.*)$/\1/g')
              curl -F file=@app/build/outputs/apk/release/app-release.apk -F channels=$SLACK_CHANNEL -F token=$SLACK_API_TOKEN -F title="${CIRCLE_PROJECT_REPONAME} | branch -> ${CIRCLE_BRANCH} | commit -> ${GIT_COMMIT_DESC}"  https://slack.com/api/files.upload
workflows:
  version: 2
  deploy:
    jobs:
      - check-build:
          filters:
            branches:
              ignore: 
                - master
                - dev
                
      - dev-build:
          filters:
            branches:
              only: dev

      - prod-build:
          filters:
            branches:
              only: master
