<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://ch.qos.logback/xml/ns/logback"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">
    <!--https://github.com/tony19/logback-android/wiki#configuration-via-xml-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="file" />
    </root>

    <logger name="com.example.calculation" additivity="false" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>

